## Pandas

<br>
University of Miami
<br>
REU summer 2022
<br>
Burton Rosenberg.
<br>
<br>last update: May 26, 2022


What is _Pandas_? Pandas is a Python library for the handling and curation of data.

What is _Numpy_? Numpy is a Python library that implements vectorized, numerical computation.

https://numpy.org/doc/stable/reference/index.html

https://www.kaggle.com/datasets/aungpyaeap/fish-market?resource=download&select=Fish.csv

__Panda's can read in a csv File__

In [1]:
import pandas as pd
import numpy as np

fish = pd.read_csv('./Fish.csv')
type(fish)

pandas.core.frame.DataFrame

You can then take a quick look at the DataFrame object, using `head`

In [2]:
fish.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

The DataFrame is made up of DataSeries objects, each labeled by the column.

In [3]:
for c in fish.columns:
    print(f'|{c}|')

type(fish['Width'])

|Species|
|Weight|
|Length1|
|Length2|
|Length3|
|Height|
|Width|

pandas.core.series.Series

And each Series has a numpy ndarray of data, to look at or manipulate.

In [4]:
print(fish['Weight'].head())

type(fish['Weight'].values)

0    242.0
1    290.0
2    340.0
3    363.0
4    430.0
Name: Weight, dtype: float64

numpy.ndarray

And we can do standard numpy things to the ndarray.

In [5]:
np.mean(fish['Weight']), np.std(fish['Weight'])

(398.3264150943396, 356.85082298949595)

In [6]:
for c in fish.columns:
    if c=='Species':
        continue
    d_s = fish[c]  # a pd.DataSeries object
    print(f'{c}:\n\tmean={np.mean(d_s.values):.4f}\n\tstd={np.std(d_s.values):.4f}')

Weight:
	mean=398.3264
	std=356.8508
Length1:
	mean=26.2472
	std=9.9650
Length2:
	mean=28.4157
	std=10.6826
Length3:
	mean=31.2270
	std=11.5737
Height:
	mean=8.9710
	std=4.2727
Width:
	mean=4.4175
	std=1.6805

### Grouping

In [7]:
f_gb = fish.groupby('Species')
f_gb.mean()

               Weight    Length1    Length2    Length3     Height     Width
Species
Bream      617.828571  30.305714  33.108571  38.354286  15.183211  5.427614
Parkki     154.818182  18.727273  20.345455  22.790909   8.962427  3.220736
Perch      382.239286  25.735714  27.892857  29.571429   7.861870  4.745723
Pike       718.705882  42.476471  45.482353  48.717647   7.713771  5.086382
Roach      152.050000  20.645000  22.275000  24.970000   6.694795  3.657850
Smelt       11.178571  11.257143  11.921429  13.035714   2.209371  1.340093
Whitefish  531.000000  28.800000  31.316667  34.316667  10.027167  5.473050

In [8]:
f_gb.std()

               Weight   Length1   Length2    Length3    Height     Width
Species
Bream      209.205709  3.593699  3.911925   4.157866  1.964707  0.721509
Parkki      78.755086  3.284841  3.557348   3.959155  1.615650  0.643347
Perch      347.617717  8.561572  9.021668   9.529509  2.878177  1.774626
Pike       494.140765  9.029087  9.714116  10.167426  1.664228  1.140269
Roach       88.828916  3.459917  3.651946   4.031599  1.261192  0.690371
Smelt        4.131526  1.216372  1.432147   1.426457  0.351780  0.286611
Whitefish  309.602972  5.580681  5.723781   6.023759  1.830201  1.194258

### End of Notebook